@charset utf-8
/*CSS document*/
html, body {
	margin:0;
	padding:0;
	width:100%;}
#wrapper {
	margin:0;
	padding:0;
	height:auto;
	width:100%;
	overflow:hidden;
	min-height:1000px;}
header {
	transition:all 0.7s ease;}
header {
	height:80px;
	width:100%;
	background:#4d2600;
	color:#fff;
	line-height:80px;
	position:fixed;
	top:0;
	left:0;}
.container {
	width:100%;
	max-width:1024px;
	margin:0 auto;}
#logo {
	font-family:fantasy;
	font-size:35px;
	float:left;
	color:#e60000;}
nav {
	float:right;
	font-family:helvetica;}
nav a {
	color:#e60000;
	font-size:18px;
	margin:0 15px;
	text-decoration:none;}
nav a:hover {
	color:#fbce2a;}
header.sticky {
	background:rgba(153, 51, 0,0.7);
	height:50px;
	line-height:50px;
	margin-bottom:10px;}
header.sticky #logo {
	font-size:22px;
	color:#990000;}
header.sticky nav a {
	font-size:16px;
	color:#990000;}
header.sticky nav a:hover {color:#fbce2a;}
#homepagecontent {
	width:100%;
	max-width:1024px;
	margin:0 auto;
	margin-top: 80px;
}
#introtext {
	margin:0 20px;
	font-family: cursive;
	font-size:20px;
	color:gray;
	float: left;
	max-width: 300px;
}
/*for arrow to top+++++++++++++*/
.scroll-to-top {
    width:50px;
    height:50px;
    position:fixed;
    right:10%;
    bottom:10%;
    cursor:pointer;
    z-index: 999;
    display:none;}
.scroll-to-top:hover {
    transform:scale(1.1,1.1);}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
